Sample m rows from each of the 256 kmers in the original dataframe

In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv('./data/all_C_signals_01.txt',sep=" ",header=None)
data.columns = ['read_ID',2,'kmer',4,5,'values']

data = data[['read_ID','kmer','values']]

print("There are "+str(len(data['kmer'].unique()))+" unique kmers")
print("data dimension: "+str(data.shape))
data.head()

There are 256 unique kmers
data dimension: (448700, 3)

,read_ID,kmer,values
0,@b04d0972-8563-4130-8871-3b3f105d93f0_Basecall...,TTCAA,717_676_725_717_722_739_705_709_694_706_719_68...
1,@b04d0972-8563-4130-8871-3b3f105d93f0_Basecall...,GGCCT,466_472_457_463_464_463_466_478_463_452_454_46...
2,@b04d0972-8563-4130-8871-3b3f105d93f0_Basecall...,TGCTG,650_639_655_787_644_716_809_720_609_677_613_63...
3,@b04d0972-8563-4130-8871-3b3f105d93f0_Basecall...,AACTA,697_669_670_643_658_655_681_728_691_646_672_66...
4,@b04d0972-8563-4130-8871-3b3f105d93f0_Basecall...,ACCAA,716_661_717_716_675_726_681_732_731_731_736_73...

In [8]:
def sample_data(full_data, m):
    sampled_data = []
    for i in full_data.sort_values(by='kmer')['kmer'].unique():
        sub_data = full_data.loc[full_data['kmer']==i].sample(n=m,replace=False)
        sampled_data.append(sub_data)
    return pd.concat(sampled_data,axis=0)

In [9]:
m = 5
sampled_data = sample_data(data,m)
sampled_data.head(10)

,read_ID,kmer,values
224090,@8a85e853-5be8-4b58-b2d6-c42b920786c1_Basecall...,AACAA,628_671_629_658_673_718_717_698_691_700_710_69...
315002,@1d20b26f-6849-41d5-b0b8-0bf9de6ad085_Basecall...,AACAA,664_710_629_654_665_654_649_656_715_707_601_64...
89300,@f43fe510-e8e9-4565-a75c-8aa075bbadf8_Basecall...,AACAA,568_568_585_556_583_566_589_568_566_545_541_53...
144268,@a360a391-486c-468d-8a60-75d72ce55459_Basecall...,AACAA,635_633_653_623_635_650_635_627_633_607_621_53...
377089,@f3365a14-afe9-480b-8fe9-5754ead63217_Basecall...,AACAA,664_629_655_665_652_663_654_654_654_667_650_68...
299504,@f0260402-f2a6-4814-9a09-0b6f8ea8e8d6_Basecall...,AACAC,489_466_451_451_462_464_462_470_471_467_469_46...
408153,@e5e19fb9-4e2d-4b82-a1cf-0a0d76006da0_Basecall...,AACAC,535_582_512_502_501_487_470_478_491_488_473_48...
329660,@4aa887c2-2395-4f87-9d0a-8bf7da27e0ee_Basecall...,AACAC,416_405_416_407_400_413_402_410_419_407_414_40...
123998,@70f47177-cb6d-4f68-a9c7-475e5da241ce_Basecall...,AACAC,460_471_472_468_474_450_478_497_503_515_507_50...
8299,@1f06c64f-200d-47f3-97bb-e8d00b7017f7_Basecall...,AACAC,475_560_482_543_501_500_504_486_488_508_573_47...

In [11]:
filename = "./data/sampled_data_"+str(m)+".csv"
sampled_data.to_csv(filename,index=False)